/* =================
		GENERAL
==================== */
body {
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
}
a,
a:before,
a:after {
	text-decoration: none;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
}
a:hover {
	color: #008ab5;
}

/* =================
	VIEWS TRANSITIONS
==================== */
.view {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	opacity: 1;
}
.view.ng-enter {
	opacity: 0;
	transform: scale(0.1);
}
.view.ng-enter-active {
	opacity: 1;
	transform: scale(1);
}
.view.ng-leave {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	opacity: .8;
	transform: scale(1);
}
.view.ng-leave-active {
	opacity: 0;
	transform: scale(0.1);
}

/* =================
		HEADER
==================== */
header {
	background-color: #f6f6f6;
}
header .container {
	text-align: center;
	padding: 20px 0;
}
header h1 {
	font-weight: 900;
	font-size: 3.5em;
	color: #394e5f;
}
header #menu {
	margin-bottom: 0;
}
header #menu li {
	display: inline-block;
	margin: 0 0px;
}
header #menu li a {
	padding: 4px 10px;
	font-weight: 700;
	font-size: 1em;
}
header #menu li a:before {
	content: '';
	position: absolute;
	transform: translate3d(19px,0,0);
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: transparent;
}
header #menu li a:hover:before {
	width: 7px;
	height: 7px;
	transform: translate3d(19px,1.6em,0);
	background-color: #008ab5;
}
header #menu li a.selected {
	font-weight: 900;
	color: #008ab5;
}
header #menu li a.selected:before {
	width: 7px;
	height: 7px;
	transform: translate3d(19px,1.6em,0);
	background-color: #008ab5;
}

/* =================
		#CONTENT
==================== */
#content {
	padding: 15px 0;
}