<a ui-sref="app({detail:'detail'})" ng-hide="person">Show Detail</a>
<a ui-sref="app({detail:''})" ng-show="person">Hide Detail</a>

<div id="detail" ng-show="person">
	<hr>
	<span>DETAIL:</span>
	<h3>Age: {{ person.detail.age }}</h3>
	<p>About:<br>{{ person.detail.about }}</p>
</div>
