<span>Hello, {{ general.visitorName }}.</span>

<h2>Page 1: {{ person.name }}</h2>

<!-- QUESTION: 2 -->
<div class="row">
	<div class="twelve columns">
		<label for="visitorNameField">Your name:</label>
		<input class="u-full-width" type="text" placeholder="Your Name" ng-model="general.visitorName" id="visitorNameField">
	</div>
</div>

<!-- QUESTIONS: 5 and 6 -->
<div class="row">
	<div class="six columns">
		<label for="phoneField">Your Phone Number:</label>
		<input class="u-full-width" type="text" placeholder="(555) 555-5555." ng-model="general.visitorPhone" maxlength="14" format-phone id="phoneField">
	</div>
	<div class="six columns">
		<label for="priceField">Price($):</label>
		<input class="u-full-width" type="text" placeholder="$1,234.00" ng-model="price" format-currency id="priceField">
	</div>
</div>

<!-- QUESTION: 7 -->
<h3>Sum</h3>
<div class="row">	
	<div class="three columns">
		<label>#1:</label>
		<input class="u-full-width" type="number" ng-model="sum.one" ng-change="updateTotal()">
	</div>
	<div class="three columns">
		<label>#2:</label>
		<input class="u-full-width" type="number" ng-model="sum.two" ng-change="updateTotal()">
	</div>
	<div class="three columns">
		<label>#3:</label>
		<input class="u-full-width" type="number" ng-model="sum.three" ng-change="updateTotal()">
	</div>
	<div class="three columns">
		<label>#4:</label>
		<input class="u-full-width" type="number" ng-model="sum.total" ng-change="updateExpression()">
	</div>
</div>