<span>Hello, {{ general.visitorName }}.</span>
<h2>Page 3: {{ person.name }}</h2>

<!-- FILTERS -->
<div class="row">
	<div class="six columns">
		<label for="medalsFilters">Search:</label>
		<input class="u-full-width" type="text" placeholder="Search" ng-model="search">
	</div>
	<div class="six columns">
		<label for="medalsFilters">Reason for contacting:</label>
		<select class="u-full-width" id="medalsFilters" ng-model="order_by" ng-init="order_by = 'rank'">
			<option value="rank">Rank</option>
			<option value="country">Country Name</option>
		</select>
	</div>
</div>
<!-- // FILTERS -->

<!-- TABLE -->
<table class="u-full-width">
	<thead>
		<tr>
			<th>Rank</th>
			<th>Country</th>
			<th>Total Medals</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in medals | filter: search | orderBy: order_by">
			<td>{{ item.rank }}</td>
			<td>{{ item.country }}</td>
			<td>{{ item.totalMedals }}</td>
		</tr>
	</tbody>
</table>
<!-- // TABLE -->